.calc-container {
    width: 30%;
    height: 100%;
    background-color: #fafafa;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 13px;
    border: 0.3px solid #aaaaaa;
    border-radius: 13px;
}